

.bike-banner {
  height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  box-shadow: 1px 1px 46px #8080808a;
  z-index: 2;
  margin-bottom: 20px;

}


.grid-showbike {
  display: grid;
  grid-template-columns: 220px auto;
  grid-template-rows: 60px 300px auto;
}

.gcontent {
  margin: 5px;
  padding: 8px;
  background-color: white;
  color: grey;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.02);

  p, h1, h2, h3, h4, h5 {
    margin: 0 6px;
  }
}

.grid-left {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  border-radius: 6px;
  text-align: center;

  .book-section {
    margin-top: 40px;
  }
}

.grid-top-right {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-grid, .brand-grid  {
  display: flex;
  justify-content: space-around;
  align-items: center;

}



.grid-middle-right {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  padding: 20px;
  border-radius: 6px;
  overflow: scroll;
  text-align: justify;

}
.grid-bottom-right {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-location {
  flex-grow: 1;
}

.text-location {
  text-align: center;
  margin: 10px;
}

.showbike-map {
  height: 300px;
  position: relative;
  border-radius: 6px;
}

.edit-bike {
  color: grey;
  text-decoration: none;
}





