.card-avatar {
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.64)

}


.showbike-avatar {
  border-radius: 50%;
  height: 180px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.review-avatar {
  border-radius: 50%;
  height: 60px;
  margin-bottom: 30px;
}

