
.new-button {
  font-size: 16px;
  text-decoration: none;
  background-color: #78b71c;
  border-radius: 6px;
  padding: 14px;
  color: white;
  vertical-align: middle;
  margin-top: 10px;
  transition: all 0.3s cubic-bezier(0.1, 0.71, 0.25, 1);

}

.new-button:hover {
  text-decoration: none;
  color: white;
  background-color: #89c333;
}
