<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/clembonmr/airbikenb" target="_blank"><i class="fab fa-github-square"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-strava"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-bicycle">   </i>This site is made by Guido, Clement and Pavlo
  </div>
</div>
